<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap - Layouts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <style>
        html,body{
            height: 100%;
        }
    </style>
</head>

<body>

    <main class="bg-dark sticky-top">
        <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="https://eimaung.com/bootstrap/" class="navbar-brand">ဆရာအိမောင်၏ Bootstrap လို-တို-ရှင်း စာအုပ်အားလေ့လာခြင်း</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="../../" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../css-component/alert/" class="nav-link">CSS Components</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../js-component/dropdowns/" class="nav-link">JS Components</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../layout/" class="nav-link active">Layout</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../utility-classes/" class="nav-link">Utility Classes</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../icons/" class="nav-link">Icons</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../admin-dashboard/" class="nav-link">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../js-component/dropdowns/" class="nav-link">Thank you!</a>
                    </li>

                </ul>
            </div>
        </nav>
    </main>
    <section class="container py-5">
        <h1 class="border-bottom shadow p-3 text-dark">Bootstrap Layouts</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="../layout-size/" class="nav-link">Layout Size</a>
            </li>
            <li class="nav-item">
                <a href="../layout-container/" class="nav-link active">Layout Container</a>
            </li>
            <li class="nav-item">
                <a href="../grid-system/" class="nav-link">Grid System</a>
            </li>
            <li class="nav-item">
                <a href="../responsive-layouts/" class="nav-link">Responsive Layouts</a>
            </li>
        </ul>
        <h3 class="m-3">Layout Container</h3>
        
    </section>

    <div class="container border alert-primary h-25 mb-4 pt-5 text-center">
        <h1>Container</h1>
    </div>

    <div class="container-fluid alert-danger h-25 mb-4 pt-5 text-center">
        <h1>Container-Fluid</h1>
    </div>
        
    
</body>
</html>