<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap - Layouts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body>

    <main class="bg-dark sticky-top">
        <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="https://eimaung.com/bootstrap/" class="navbar-brand">ဆရာအိမောင်၏ Bootstrap လို-တို-ရှင်း စာအုပ်အားလေ့လာခြင်း</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="../../" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../css-component/alert/" class="nav-link">CSS Components</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../js-component/dropdowns/" class="nav-link">JS Components</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../layout/layout-size/" class="nav-link active">Layout</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../utility-classes/borders/" class="nav-link">Utility Classes</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../icons/" class="nav-link">Icons</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../admin-dashboard/" class="nav-link">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../js-component/dropdowns/" class="nav-link">Thank you!</a>
                    </li>

                </ul>
            </div>
        </nav>
    </main>
    
    <section class="container py-5">
        <h1 class="border-bottom shadow p-3 text-dark">Bootstrap Layouts</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="../layout-size/" class="nav-link active">Layout Size</a>
            </li>
            <li class="nav-item">
                <a href="../layout-container/" class="nav-link">Layout Container</a>
            </li>
            <li class="nav-item">
                <a href="../grid-system/" class="nav-link">Grid System</a>
            </li>
            <li class="nav-item">
                <a href="../responsive-layouts/" class="nav-link">Responsive Layouts</a>
            </li>
        </ul>
        <h3 class="m-3">Layout Sizes</h3>
        <table class="table table-striped">
            <tr class="alert-primary">
                <th>Breakpoint</th>
                <th>Class infix</th>
                <th>Dimensions</th>
                <th></th>
            </tr>
            <tr>
                <td>X-Small</td>
                <td>None</td>
                <td>&lt;576px</td>
                <td>Phones</td>
            </tr>
            <tr>
                <td>Small</td>
                <td>sm</td>
                <td>&ge;576px</td>
                <td>Landscape Mode(Phone), Small Tablets</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>md</td>
                <td>&ge;768px</td>
                <td>Tablets, Small Laptops</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>lg</td>
                <td>&ge;992px</td>
                <td>Landscape Mode(Tablet),Large Screen Tablets, Laptops</td>
            </tr>
            <tr>
                <td>Extra Large</td>
                <td>xl</td>
                <td>&ge;1200px</td>
                <td>High Resolution Laptops & Desktops</td>
            </tr>
            <tr>
                <td>Extra extra large</td>
                <td>xxl</td>
                <td>&ge;1400px</td>
                <td>8k, 4k, HD Screen, Smart TV</td>
            </tr>
        </table>
    </section>

</body>
</html>